/* global styles */
* {
    margin: 0px;
    padding: 0px;

}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

/* fonts */

/* fonts */

@font-face {
    font-family: unbounded-reg;
    src: url("../assets/fonts/Unbounded-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: unbounded-medium;
    src: url("../assets/fonts/Unbounded-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: unbounded-heavy;
    src: url("../assets/fonts/Unbounded-SemiBold.ttf") format("truetype");
  }

.wholegame-wrapper {
    width: 100%;
    height: 100%;
    background-color: blue;
}

.characterstats-sidebar-wrapper {
    width: 25%;
    height: 100%;
    float: left;
    background-color: #1F1E2F;
}

.maingame-wrapper {
    width: 75%;
    height: 100%;
    float: right;
    background-color: #15141D;
}

.charactertstats-padding {
    width: 80%;
    height: auto;
    margin: 40px auto;
}

.responsibility-barometer-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 1px solid #FFFFFF;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(255,72,200,1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(255,72,200,1);
    box-shadow: 0px 0px 24px 0px rgba(255,72,200,1);
}

.characterstats-set {
    padding-bottom: 30px;
}
  
.characterstats-set h4 {
    font-family: unbounded-medium;
    text-align: center;
    font-size: 17px;
    color: #FF48C8;
  
}
  
.characterstats-set h5 {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    font-family: unbounded-medium;
    font-size: 19px;
}
  
.characterstats-set hr {
    border-color: #7DAB3D;
}


/* top and bottom banner */

.gameplay-topbanner-wrapper {
    width: 100%;
    height: 50px;
   
  }
  
  .gameplay-topbanner-wrapper {
    display: flex;
  }
  
  .current-date-wrapper p {
    font-family: unbounded-reg;
    color: #FF48C8;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 15px;
  }
  
  .current-date-wrapper {
    width: 50%;
    height: auto;
    float: left; 
  }
  
  .payday-date-wrapper {
    width: 50%;
    height: auto;
    float: right;
  }
  
  .payday-date-wrapper p {
    font-family: unbounded-reg;
    color: #FF48C8;
    text-align: right;
    font-size: 13px;
    padding-right: 20px;
    padding-top: 15px;
  }
  
  .colour-white {
    color: white;
  }

  .gameplay-bottombanner-wrapper {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
  }
  
  .monthly-outgoings-wrapper p  {
    font-family: unbounded-reg;
    color: #FF48C8;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 15px;
  }


/*  map layout display */

.map-display-wrapper {
    width: 100%;
    height: 88%;
    background-image: url('../assets/img/mapbw.jpg');
    background-size: 100%;
    overflow: hidden;
}


/* living options display */

.map-location-wrapper {
    /*top: 200px;
    left: 300px;*/
    height: auto;
    width: 200px;
    background-color: #1F1E2F;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255,72,200,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(255,72,200,1);
    box-shadow: 0px 0px 15px 0px rgba(255,72,200,1);
    transition-duration: 0.5s;
  }
  
  .map-location-wrapper:hover {
    -webkit-box-shadow: 0px 0px 21px 5px rgba(153,211,66,1);
    -moz-box-shadow: 0px 0px 21px 5px rgba(153,211,66,1);
    box-shadow: 0px 0px 21px 5px rgba(153,211,66,1);
    transition-duration: 0.5s;
  }
  
  .map-location-content-wrapper {
    width: 85%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .map-location-content-wrapper {
    font-family: unbounded-reg;
  }
  
  .map-location-content-wrapper h4 {
    text-align: center;
    color: white;
    font-size: 16px;
  }
  
  .map-location-content-wrapper p {
    text-align: center;
    color: white;
    font-size: 11px;
    padding-top: 7px;
  }
  
  .map-location-content-wrapper .map-location-description {
    color: #99D342;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  .map-location-rent-wrapper {
    width: 90%;
    margin: 0 auto;
    height: 70px;
    color: #FF48C8;
    padding-top: 20px;
    text-align: left;
  
  }
  
  .map-location-rent-wrapper p {
    color: #FF48C8;
    font-size: 14px;
    text-align: left;
  }
  
  .colour-white {
    color: white;
  }
  
 .map-location-content-wrapper button {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    background-color: #FF48C8;
    border: 2px solid #FF48C8;
    font-family: unbounded-reg;
    margin-bottom: 5px;
    transition-duration: 0.5s;
 }

 .map-location-content-wrapper button p {
    font-size: 15px;
    padding-bottom: 6px;
 }

 .map-location-content-wrapper button:hover {
    border: 2px solid white;
    background-color: #1F1E2F;
    transition-duration: 0.5s;
    cursor: pointer;
 }


  
  .poppy27 {
    position: absolute;
    top: 420px;
    left: 490px;
  }
  
  .rodeo19 {
    position: absolute;
    left: 1100px;
    top: 450px;
  }
  
  .coronationE1 {
    position: absolute;
    top: -60px;
    left: 200px;
  }
  
  .dandsdrive32 {
    position: absolute;
    top: -60px;
    left: 650px;
  }
  