/* global styles */
* {
    margin: 0px;
    padding: 0px;

}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

/* fonts */

/* fonts */

@font-face {
    font-family: unbounded-reg;
    src: url("../assets/fonts/Unbounded-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: unbounded-medium;
    src: url("../assets/fonts/Unbounded-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: unbounded-heavy;
    src: url("../assets/fonts/Unbounded-SemiBold.ttf") format("truetype");
  }

.wholegame-wrapper {
    width: 100%;
    height: 100%;
    background-color: #1F1E2F;
}

.characterstats-sidebar-wrapper {
    width: 25%;
    height: 100%;
    float: left;
    background-color: #1F1E2F;
    overflow-y: scroll;
}

.maingame-wrapper {
    width: 75%;
    height: 100%;
    float: right;
    background-color: #15141D;
}

.charactertstats-padding {
    width: 80%;
    height: auto;
    margin: 40px auto;
}

.responsibility-barometer-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 1px solid #FFFFFF;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(255,72,200,1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(255,72,200,1);
    box-shadow: 0px 0px 24px 0px rgba(255,72,200,1);
}

.characterstats-set {
    padding-bottom: 30px;
}
  
.characterstats-set h4 {
    font-family: unbounded-medium;
    text-align: center;
    font-size: 17px;
    color: #FF48C8;
  
}
  
.characterstats-set h5 {
    color: white;
    text-align: center;
    padding-top: 15px;
    font-family: unbounded-medium;
    font-size: 17px;
    letter-spacing: 1px;
}
  
.characterstats-set hr {
    border-color: #7DAB3D;
    margin-top: 30px;
}

.characterset-subheading {
    padding-top: 20px;
    
}

.livingstatsdisplay {
    text-align: center;
  }
  
.livingstatsdisplay p {
    font-family: unbounded-reg;
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .colour-pink {
    color: #FF48C8;
  }

  .colour-green {
    color: #8CC044;
  }
  
  .livingstatsdisplay button {
    background-color: #FF48C8;
    border: solid 2px #FF48C8;
    font-family: unbounded-medium;
    color: white;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    border-radius: 20px;
    height: 40px;
    transition-duration: 0.5s;
  }
  
  .livingstatsdisplay button:hover {
    border: solid 2px white;
    background-color: #1F1E2F;
    transition-duration: 0.5s;
    cursor: pointer;
  
  }

  .livingstatsdisplay .commute-cost {
    padding-bottom: 20px;
  }

  .mapdisplay-gametips-wrapper {
    position: relative;
    top: 75%;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #1F1E2F;
    height: 50px;
    white-space: nowrap;


  }

  .mapdisplay-gametips-wrapper p {
    padding-top: 10px;
    font-family: unbounded-reg;
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 0 1em;
    animation: move-left 20000ms linear infinite;
  }

  @keyframes move-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
  }

  .livingoptions-movingbanner {
    padding-right: 100px;
    position: relative;
    top: 10px;
  }

  .first-movingbanner {
    padding-left: 800px;
  }




/* top and bottom banner */

.gameplay-topbanner-wrapper {
    width: 100%;
    height: 50px;
   
  }
  
  .gameplay-topbanner-wrapper {
    display: flex;
  }
  
  .current-date-wrapper p {
    font-family: unbounded-reg;
    color: #FF48C8;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 15px;
  }
  
  .current-date-wrapper {
    width: 50%;
    height: auto;
    float: left; 
  }
  
  .payday-date-wrapper {
    width: 50%;
    height: auto;
    float: right;
  }
  
  .payday-date-wrapper p {
    font-family: unbounded-reg;
    color: #FF48C8;
    text-align: right;
    font-size: 13px;
    padding-right: 20px;
    padding-top: 15px;
  }
  
  .colour-white {
    color: white;
  }

  .gameplay-bottombanner-wrapper {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
  }
  
  .monthly-outgoings-wrapper p  {
    font-family: unbounded-reg;
    color: #FF48C8;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 15px;
  }


/*  map layout display */

.map-display-wrapper {
    width: 100%;
    height: 87%;
    background-image: url('../assets/img/mapbw.jpg');
    background-size: 100%;
    overflow: hidden;
}


/* living options display */

.map-location-wrapper {
    /*top: 200px;
    left: 300px;*/
    height: auto;
    width: 200px;
    background-color: #1F1E2F;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255,72,200,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(255,72,200,1);
    box-shadow: 0px 0px 15px 0px rgba(255,72,200,1);
    transition-duration: 0.5s;
  }
  
  .map-location-wrapper:hover {
    -webkit-box-shadow: 0px 0px 21px 5px rgba(153,211,66,1);
    -moz-box-shadow: 0px 0px 21px 5px rgba(153,211,66,1);
    box-shadow: 0px 0px 21px 5px rgba(153,211,66,1);
    transition-duration: 0.5s;
  }
  
  .map-location-content-wrapper {
    width: 85%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .map-location-content-wrapper {
    font-family: unbounded-reg;
  }
  
  .map-location-content-wrapper h4 {
    text-align: center;
    color: white;
    font-size: 16px;
  }
  
  .map-location-content-wrapper p {
    text-align: center;
    color: white;
    font-size: 11px;
    padding-top: 7px;
  }
  
  .map-location-content-wrapper .map-location-description {
    color: #99D342;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  .map-location-rent-wrapper {
    width: 90%;
    margin: 0 auto;
    height: 90px;
    color: #FF48C8;
    padding-top: 20px;
    text-align: left;
  
  }
  
  .map-location-rent-wrapper p {
    color: #FF48C8;
    font-size: 14px;
    text-align: left;
  }
  
  .colour-white {
    color: white;
  }
  
 .map-location-content-wrapper button {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    background-color: #FF48C8;
    border: 2px solid #FF48C8;
    font-family: unbounded-reg;
    margin-bottom: 5px;
    transition-duration: 0.5s;
 }

 .map-location-content-wrapper button p {
    font-size: 15px;
    padding-bottom: 6px;
 }

 .map-location-content-wrapper button:hover {
    border: 2px solid white;
    background-color: #1F1E2F;
    transition-duration: 0.5s;
    cursor: pointer;
 }

 /* individual placements for living options */

  
  .pinecrest27 {
    position: absolute;
    top: 360px;
    left: 390px;
  }
  
  .rodeo19 {
    position: absolute;
    left: 950px;
    top: 380px;
  }
  
  .harmonyE1 {
    position: absolute;
    top: 60px;
    left: 650px;
  }
  
  .brickyard32 {
    position: absolute;
    top: 60px;
    left: 1150px;
  }

  /* You work here section */

  .map-work-location-wrapper {
    font-size: 30px;
    color: #1F1E2F;
    position: relative;
    top: 100px;
    left: 50px;
  }

  .map-work-location-circle {
    width: 100px;
    height: 100px;
    border-radius: 120px;
    background-color: #1F1E2F;
    position: relative;
    bottom: 60px;
    left: 30px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255,72,200,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(255,72,200,1);
    box-shadow: 0px 0px 15px 0px rgba(255,72,200,1);
  }
  
  .map-work-location-circle p {
    text-align: center;
    color: white;
    font-family: unbounded-reg;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }



  /*  choose a place to live styling */

  .rentintro-mainwrapper {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .rentintro-title-wrapper h1 {
    font-family: unbounded-reg;
    color: #FF48C8;
    font-size: 25px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 30px;
  }

  .rentintro-description-wrapper {
    font-family: unbounded-reg;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 1.9em;
  }

  .rentintro-description-wrapper p {
    padding-bottom: 15px;
  }

  .rentintro-rentrecommendation {
    padding-top: 20px;
  }

  .rentinfo-button-wrapper {
    padding-top: 20px;
  }

  .rentinfo-button {
    width: 330px;
    height: 50px;
    background-color: #FF48C8;
    border: 2px solid #FF48C8;
    font-family: unbounded-reg;
    color: white;
    font-size: 16px;
    border-radius: 200px;
    transition-duration: 0.5s;
  }

  .rentinfo-button:hover {
    color: white;
    border: 2px solid #FF48C8;
    background-color: #1F1E2F;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  